<div class="app-footer">
  <div class="app-footer__inner">
    <!-- Left: Social icons -->
    <div class="app-footer-left">
      <ul class="nav">
        <li class="nav-item">
          <a href="https://www.facebook.com/gocrayonsteam" target="_blank" class="nav-link" style="color: #1877f2">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.com/gocrayonsteam" target="_blank" class="nav-link" style="color: #1da1f2">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.youtube.com/channel/UCDXNfLkOLXWfIGZekMa7WZw?feature=applinks"
            target="_blank"
            class="nav-link"
            style="color: #ff0000"
          >
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/go_crayons/?hl=en" target="_blank" class="nav-link" style="color: #e4405f">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>

    <!-- Right: Website link icon -->
    <div class="app-footer-right">
      <ul class="nav">
        <li class="nav-item">
          <a href="https://gocrayons.com/" target="_blank" class="nav-link" style="color: #3f6ad8">
            <i class="fas fa-globe"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
